h1 {
    color:green;
}
#app {
    text-align:center;
    position:relative;
}
img {
    width: 50%;
    max-width:800px;
}
a {
    background-color: red;
    padding: 10px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}
.hidden {
    display:none;
}
button{
    background-color: red;
    padding: 10px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    border: none;
}
.red {
    color:red;
}
.smallImg {
    width: 32%;
}
.cursor {
    max-height:15px;
    max-width:10px;
}
.transparent{
    opacity:0.0;
}